<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink='/klijent/pocetna'>Zakaži.rs</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/klijent/termini">Moji termini</a>
            </li>
        </ul>
        <b>{{klijent.ime}} {{klijent.prezime}}</b>&nbsp;&nbsp;|&nbsp;
        <button class="btn btn-primary my-2 my-sm-0" type="submit" (click)='odjava()'>Odjavi se</button>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>